<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Reset Password</h1>
    {% if error_message %}
      <p style="color:red">{{ error_message }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="new_password1">New password:</label><br>
      <input type="password" id="new_password1" name="new_password1"><br>
      <label for="new_password2">Confirm new password:</label><br>
      <input type="password" id="new_password2" name="new_password2"><br><br>
      <input type="submit" value="Reset Password">
    </form>
  </body>
</html>
