{% load static %}
<html>
  <head>
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/password_reset.css' %}"
    />
  </head>
  <body>
    <h1>Reset Password</h1>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
    
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <label for="new_password1">New password:</label><br />
      <input type="password" id="new_password1" name="new_password1" /><br />
      <label for="new_password2">Confirm new password:</label><br />
      <input
        type="password"
        id="new_password2"
        name="new_password2"
      /><br /><br />
      <input type="submit" value="Reset Password" />
    </form>
      <h1 class="error">Password reset failed</h1>
      <p class="body_text">The password reset link was invalid, 
      possibly because it has already been used. Please request a new password reset</p>
  </body>
</html>
