{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Slide Navbar</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/styles.css' %}"
    />
  </head>
  <body>
      <form method="post" action="{% url 'register' %}">
		{% csrf_token %}
		<label for="username">Username:</label>
		<input type="text" name="username" required><br>
		<label for="email">Email:</label>
		<input type="email" name="email" required><br>
		<label for="password1">Password:</label>
		<input type="password" name="password1" required><br>
		<label for="password2">Confirm Password:</label>
		<input type="password" name="password2" required><br>
		<input type="submit" value="Register">
	  </form>
	  
		<div class="auth__action">
			<p>Already signed up yet?</p>
			<a href="{% url 'login' %}">
				<input type="submit" value="Log in" />
			</a>
		  </div>
      </div>
    </div>
  </body>
</html>
